@using Gs1DigitalLink.Web.Contracts
@using Gs1DigitalLink.Web.Formatters.Models
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Linkset"];
}
@model LinksetResponse
@inject IStringLocalizer<LinksetResponse> Localizer

@if(Model.Links.Any())
{
    <h2>@Localizer["Linkset for this resource"]</h2>

    <ul>
        @foreach(var link in ParseLinkset(Model))
        {
            <li>
                <a href="@link.Href">@link.Title</a>
                @foreach (var lang in link.Hreflang)
                {
                    <span class="tag language">@GetCountryName(lang)</span>
                }
                @foreach(var linkType in link.LinkTypes)
                {
                    var type = linkType.StartsWith("gs1:defaultLink", StringComparison.OrdinalIgnoreCase) ? "defaultLink" : "linkType";

                    <span class="tag @type">@Localizer[linkType]</span>
                }
            </li>
        }
    </ul>
}
else
{
    <h2>@Localizer["No links configured for this resource"]</h2>
}

@{
    string GetCountryName(string language)
    {
        var culture = CultureInfo.GetCultureInfoByIetfLanguageTag(language);

        return culture.DisplayName;
    }

    IEnumerable<Link> ParseLinkset(LinksetResponse linkset)
    {
        var links = linkset.Links.SelectMany(grp => grp.Value.Select(link => new Link
        {
            LinkTypes = [grp.Key],
            Href = link.Href,
            Hreflang = link.Hreflang,
            Title = link.Title
        }));

        return links
            .GroupBy(l => new { l.Href, Hreflang = l.Hreflang.SingleOrDefault(), l.Title })
            .Select(grp => new Link
                {
                    Href = grp.Key.Href,
                    Hreflang = grp.Key.Hreflang is null ? [] : [ grp.Key.Hreflang ],
                    LinkTypes = grp.SelectMany(l => l.LinkTypes),
                    Title = grp.Key.Title
                });
    }
}